@import "../../colors.scss";

.container {
    height: 375px;
    width: 200px;
    background-color: map-get($map: $schema, $key: fou );
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    
    .image {
        width: 180px;
        height: 250px;
        object-fit: cover;
        border-radius: 10px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 130px;
            height: fit-content;
        }
    }

    p {
        color: map-get($map: $schema, $key: one );
    }

    .category {
        font-size: 10px;
        padding: 5px 10px;
        border-radius: 10px;
        width: fit-content;
        background-color: map-get($map: $schema, $key: two);
        color: map-get($map: $schema, $key: fiv );
        align-self: center;
    }

    div {
        display: flex;
        justify-content: space-around;
    }

    button {
        cursor: pointer;
        font-weight: bold;
        padding: 5px;
        border-radius: 5px;
        border: none;
        background-color: map-get($map: $schema, $key: thr );
        color: map-get($map: $schema, $key: one );
        &:hover {
            background-color: map-get($map: $schema, $key: two );
            color: map-get($map: $schema, $key: fiv );
        }
    }
}