@import "../../colors.scss";

.container {
    background-color: map-get($map: $schema, $key: one );
    height: 70px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        color: map-get($map: $schema, $key: fiv );
    }

    input {
        padding: 10px 15px;
        border-radius: 10px 0 0 10px;
        border: none;
    }

    button {
        cursor: pointer;
        background-color: map-get($map: $schema, $key: thr );
        color: map-get($map: $schema, $key: one );
        padding: 10px 15px;
        border-radius: 0 10px 10px 0;
        border: none;
        &:hover {
            background-color: map-get($map: $schema, $key: two );
            color: map-get($map: $schema, $key: fiv );
        }

    }

    .welcome {
        cursor: pointer;
        &:hover {
            color: map-get($map: $schema, $key: thr );
        }
    }

    div {
        display: flex;
        align-items: center;
        gap: 20px;

        i {
            color: map-get($map: $schema, $key: fou );
            font-size: 25px;
            cursor : pointer;
            &:hover {
                color: map-get($map: $schema, $key: thr );
            }
        }

        div {
            height: 30px;
            width: 3px;
            background-color: map-get($map: $schema, $key: fiv );
            border-radius: 5px;
        }

        p {
            color: map-get($map: $schema, $key: fou );
        }

        
    }


    .link {
        background-color: map-get($map: $schema, $key: two );
        padding: 10px 15px;
        border-radius: 15px;
        text-decoration: none;
        color: map-get($map: $schema, $key: fiv );
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        &:hover {
            background-color: map-get($map: $schema, $key: thr );
        }
        p {
            color: map-get($map: $schema, $key: fiv );
            font-size: 10px;
        }

        i {
            color: map-get($map: $schema, $key: fiv );
            font-size: 15px;
            cursor : pointer;
            margin: 0;
            padding: 0;
        }
    }

    .logout {
        position: absolute;
        top: 50px;
        right: 85px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 75px;
        background-color: map-get($map: $schema, $key: fou );
        border: 3px solid map-get($map: $schema, $key: two );
        color: map-get($map: $schema, $key: two );
        font-weight: bold;
        cursor: pointer;
        transition: all 0.1s ease-in-out;
        &:hover {
            background-color: map-get($map: $schema, $key: thr );
        }
    }
}